body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

#heading { /*padding: 20px;
    height: 30px;
    margin-bottom: 10px;
    background: #dddddd;
    border: 1px solid darkGray;*/
	background: #dddddd;
}

#footer {
	clear: both;
	padding: 5px;
	height: 15px;
	background: #dddddd;
	border: 1px solid darkGray;
}

/* #sidebarLeft {
	border: thin solid lightGray;
	float: left;
	padding: 0px;
	width: 18%;
	height: 500px !important;
	-moz-box-shadow: 5px 5px 5px #888888; Firefox 3.6 and earlier
	box-shadow: 5px 5px 5px #888888;
}
 */
#sidebarLeft a {
	margin-bottom: 5px;
	display: block;
	font-family: Arial, sans-serif;
	font-size: 11px;
}

/* #content { 
	border: thin solid lightGray;
	background-color: white;
	float: right;
	width: 81%;
	margin-bottom: 10px;
} */
.header {
	font-size: 1.4em;
	font-style: italic;
	font-family: Palatino;
	text-align: center;
	margin-top: 100px;
}

a {
	color: DarkGray;
	font-size: small;
}

a:hover {
	color: LightBlue;
}

.ui-widget {
	font-family: Arial, sans-serif;
	font-size: 10px;
}

.ui-widget a {
	font-family: Arial, sans-serif;
	font-size: 10px;
}

.ui-tree {
	border: 0px !important;
	width: auto !important;
}

.ui-panel {
	border: 0px !important;
}


.ui-layout-north .ui-layout-unit-content { /*padding: 20px;*/
	overflow: visible !important;
	/*margin: 10px;*/
	top: 55px;
	background: #dddddd;
}

.ui-layout-north {
	padding: 20px;
	z-index: 20 !important;
	overflow: visible !important;;
	-moz-box-shadow: 5px 5px 5px #888888; /* Firefox 3.6 and earlier */
	box-shadow: 5px 5px 5px #888888;
	background: #dddddd;
}

.ui-layout-center {
	border: 0px !important;
	padding: 0 5px 0 5px !important;
	-moz-box-shadow: 5px 5px 5px #888888; /* Firefox 3.6 and earlier */
	box-shadow: 5px 5px 5px #888888;
}

.ui-layout-west {
	border: 0px !important;
	-moz-box-shadow: 5px 5px 5px #888888; /* Firefox 3.6 and earlier */
	box-shadow: 5px 5px 5px #888888;
}

.ui-menubar  {
    border: 1px solid #aed0ea !important;
    background: #74b2e2 url(../images/myImage.png) 50% 50% repeat-x !important;
    color: #ffffff !important;
    font-weight: bolder !important;
}
.ui-menuitem-link {
	font-size: 15px !important;
}
